<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <title><%= title %> - Tu Pedido.co</title>
  </head>

  <head>
      <%- include('../partials/head'); %>
  </head>
<body id="body-registro">
  <div id="tarjeta-registro">
    <h2 id="h2-registro">Digite sus datos</h2>

    <form id="form_registrarse" name="form_registrarse" method="post">
        <div class="row">
          <div class="input-field col offset-s4 s4">
            <i class="material-icons prefix">account_circle</i>
            <input id="usuario" type="text" class="validate" name="usuario">
            <label for="usuario">Usuario</label>
          </div>
      </div>
      <div class="row">
        <div class="input-field col offset-s4 s4">
          <i class="material-icons prefix">fiber_pin</i>
          <input id="password" type="password" class="validate" name="password">
          <label for="password">Contraseña</label>
        </div>
      </div>
      <button class="btn-large waves-effect waves-light teal lighten-1" type="submit" name="action">Ingresar</button>
    </form>
    <% if (error.length) { %>
      <div class="row">
        <p><%= error %></p>
      </div>
    <% } %>
  </div>


  <footer>
      <%- include('../partials/footer'); %>
  </footer>
  <!-- <script src="validaciones.js"></script> -->
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="javascripts/materialize.js"></script>
  <script src="javascripts/init.js"></script>
</body>
</html>
