body{
    display: block;
    text-align: center;
    line-height: 20px;
    background-color:rgb(150, 207, 230);
    margin: 250px;
    box-shadow: 3px 3px 10px rgb(34, 148, 194);
}

#et_nombre{
    border-radius: 5px;
    color:rgb(39, 98, 207);
    font-size: 20px;
    text-align: center;  
}
#et_contrasena{
    border-radius: 5px;
    color:rgb(39, 98, 207);
    font-size: 20px;
    text-align: center;  
}
#et_confirmar_contrasena{
    border-radius: 5px;
    color:rgb(39, 98, 207);
    font-size: 20px;
    text-align: center;  
}

h2{
    color:rgb(39, 98, 207);
    font-size: 37px;
    text-shadow: 3px 3px 10px rgb(214, 221, 240);
    
}

#in_nombre_usuario{
    color:rgb(39, 98, 207);
    font-size: 22px;
    text-shadow: 3px 3px 10px rgb(214, 221,240);
    text-align: center;  
}
#in_contrasena{
    color:rgb(39, 98, 207);
    font-size: 22px;
    text-shadow: 3px 3px 10px rgb(214, 221,240);
    text-align: center;  
}
#in_confirmar_contrasena{
    color:rgb(39, 98, 207);
    font-size: 22px;
    text-shadow: 3px 3px 10px rgb(214, 221,240);
    text-align: center;  
}
#btn_registrar_usuario{
    background-color: rgb(39, 98, 207);
    color:rgb(241, 238, 238);
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    font-family: arial;
    box-shadow: 3px 3px 10px rgb(255, 255, 255);
}
