<!-- Metadata -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<title><%= title %></title>

<!-- Materiallize CSS -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
<link href="stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>

<!-- Custom CSS -->
<link href="stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>