<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <div id="logotipo">
      <a id="logo-container" href="/" class="brand-logo">
      <img src="images/logo.jpg" width="65px" height="65px">
      </a>
    </div>
    <ul class="right hide-on-med-and-down">
      <a href="/iniciar" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Ingresar</a>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li><a href="#">Navbar Link</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>
