<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <div id="logotipo">
      <a id="logo-container" href="/" class="brand-logo">
      <img src="images/logo.jpg" width="65px" height="65px">
      </a>
    </div>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html"><i class="material-icons">shopping_cart</i></a></li>
      <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
      <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
      <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
    </ul>
  </div>
</nav>
