<!-- <nav class="white sticky-nav" role="navigation"></nav>-->
<ul>
    <li class="logo">
      <a id="logo-container" href="/" class="background center-align valign-wrapper"><img src="images/logo.svg" width="192" height="192"></a>
    </li>
    <li><div class="divider"></div></li>
    <li>
      <a href="/manual" class="background center-align valign-wrapper">Manual de uso</a>
    </li>
    <li class="center">
      <a href="/iniciar" id="download-button" class="btn-large waves-effect waves-light teal lighten-1 sticky-button-bot">Ingresar</a>
   </li>
</ul>