<li><a href="/"><i class="material-icons">shopping_cart</i></a></li>
<li><a href="/"><i class="material-icons">view_module</i></a></li>
<li><a href="/"><i class="material-icons">refresh</i></a></li>
<li><a href="/"><i class="material-icons">more_vert</i></a></li>
<!-- Aqui deberia ir más bien unos botones de perfil de usuario o algo que indique que está logeado -->
